body{ 
background-color: rgb(175, 93, 175);
color:aquamarine;
 font-family: "Story Script", sans-serif;
 margin: 0px;
}
header{
font-size: 50px;
border-bottom:  outset  5px aquamarine;
text-align: center;
/*margin: 30px;*/
padding: 30px;
color: rgb(252, 247, 247) 
}
h1{
    font-size: 20px;
    color: white;
}
p{
    font-size 30px;
    color: white;
}

.chamada{
background-color: rgb(198, 131, 226);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
margin-right: 10%;
}
img{
    width: 200px;
    height: 300px;
}

.outrasopçẽs{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;

}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}