body{ 
background-color: rgb(175, 93, 175);
color:aquamarine;
 font-family: "Story Script", sans-serif;
 margin: 0px;
}
header{
font-size: 50px;
border-bottom:  outset  5px aquamarine;
text-align: center;
/*margin: 30px;*/
padding: 30px;
color: rgb(252, 247, 247) 
}
h1{
    font-size: 20px;
    color: white;
}
p{
    font-size 20px;
    color: white;
}

section{
background-color: rgb(198, 131, 226);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
margin-right: 10%;
}