body{ 
background-color: rgb(175, 93, 175);
color:aquamarine;
 font-family: "Story Script", sans-serif;
}
header{
font-size: 50px;
border: outset  5px aquamarine;
}
h1{
    font-size: 20px;
}
p{
    font-size 20px;
}